<main class="bg">

  <header class="bg-darker">
    <button class="btn-secondary" (click)="theme.setMemoTheme('light')">
      Light
    </button>
    <button class="btn-primary" (click)="theme.setMemoTheme('dark')">
      Dark
    </button>

    <button class="btn">
      Regular button
    </button>
  </header>

  <article>
    <h1 class="text">Hello <span class="text-primary">Qtheme</span>!</h1>
    <p class="text">
      Try to change theme by clicking on buttons above.
    </p>
  </article>

</main>
