main {
  width: 100%;
  height: 100vh;
  overflow: hidden;

  header {
    position: fixed;
    top: 0;
    left: 0;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button {
      padding: 0.25rem 0.5rem;
      margin: 0 0.25rem;
    }
  }

  article {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
  }

}
